<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>rdumontier</string>
	<key>CFBundleDisplayName</key>
	<string>Donwload on my freebox</string>
	<key>CFBundleIdentifier</key>
	<string>com.rdumontier.safarifbd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>download-fb</string>
				<key>Identifier</key>
				<string>download-fbcommand</string>
				<key>Title</key>
				<string>Download on my freebox</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/fbinjected.js</string>
			</array>
		</dict>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
